<nz-table #basicTable [nzData]="users">
  <thead>
    <tr>
      <th>email</th>
      <th>group</th>
      <th>id</th>
      <th>lastname</th>
      <th>name</th>
      <th>password</th>
      <th>phone</th>
      <th>photo</th>
      <th>rol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users ">
      <td>{{ user.email }}</td>
      <td>{{ user.group }}</td>
      <td>{{ user.id }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.photo }}</td>
      <td>{{ user.rol }}</td>
    </tr>
  </tbody>
</nz-table>